
/*remove default browser padding*/
* {
	/*margin:0; padding:0; */
}

body {
	/*background-image: url('Images/TrialImages/liftoff.jpg');*/
	background-color: white;
	background-size:contain;
	height: auto;
	width: 100%;
	background-repeat: no-repeat;
	/*background-position: center;*/
	margin:0;
	padding:0;
}

@font-face {
font-family: 'Montserrat', sans-serif;
src: url('Montserrat.eot');
src: url('Montserrat.eot?#iefix') format(‘embedded-opentype’),
    url('Montserrat.svg#svgFontName') format('svg'),
    url('Montserrat.woff') format('woff'),
    url('Montserrat.ttf')  format('truetype');
}

.menu{
	position:fixed;
	top: 0%;
	left: 5%;
}

.iconHeader {
	position: fixed;
	z-index: 99;
	margin-top: 25%;
	margin-left: 25%;
}

.iconHeader a {
	color: black;
}


.drop-menu {
	position: fixed;
	top: 0%;
	background-color: rgba(0,0,0,0.85);
	padding-bottom: 0%;
	margin-top: -1%;
	width: 100%;
	margin-left: -5%;

}

.drop-menu h3 {
	color: white;
	font-family: 'Montserrat', sans-serif;
	font-size: vw;
}

.drop-menu ul li{
	list-style: none;
	display: inline-block;
	width: auto;
  float: right;
	padding-left: 2%;
	padding-right: 2%;
}

.drop-menu li:last-child {
	padding-right: 4%;
}

.drop-menu h3:hover {
	color: #D18D3C;
}


/* unvisited link */
a:link {
    color: BLACK;
	 text-decoration: none;
}

/* visited link */
a:visited {
    color: BLACK;
}

/* mouse over link */
a:hover {
    color: #D18D3C;
}

/* selected link */
a:active {
    color: #D18D3C;
}

.title h1 {
	margin-top: -7%;
	color: #D18D3C;
	font-family: 'Montserrat', sans-serif;
	text-align: center;
	text-shadow: 1px 2px black;
	/*padding-right: 30%;*/
	/*padding-left: 4%;*/
	word-wrap: break-word;
	font-size: 10vw;
	line-height: 115%;
}

.title {
	padding-bottom: 10%;
	background-image: url('Images/nightRoad.jpeg');
	background-size: cover;
	height: 100%;
	background-position: top;
}

.title p {
	text-align: center;
	font-size: 3.5vw;
	/*padding-right: 0.0625%;*/
	margin-top: -7%;
	padding-bottom: 7%;
	/*margin-left: 5%;*/
	color: white;
}

.about {
	background-color: white;
	/*margin-top: 25%;*/
	padding-top: 4%;
	padding-bottom: 0%;
	margin-bottom: 8%;
}

.about h1 {
	font-family: 'Kaushan Script', cursive;
	font-size: 6vw;
}

.about p {
	padding-left: 10%;
	padding-right: 10%;
	font-size: 1.75vw;
	line-height: 215%;
}

.tint {
    z-index: 1;
    height: 100%;
    width: 100%;
    position: static;
    overflow: auto;
		margin-top: 0%;
		padding-bottom: 0%;
    top: 0px;
    left: 0px;
    background: rgba(0, 0, 0, 0.4);
}

.coastalInfo {
	height: 100%;
	width: auto;
	/*padding-top: 10px;*/
	/*padding-bottom: 20%;*/
	/*background-color: #0C5E84;*/
}

.coastalOnImg h1 {
	padding-top: 30px;
	text-shadow: 1px 2px black;
	color: white;
	font-size: 6vw;
	font-family: 'Montserrat', sans-serif;
}

.coastalOnImg {
	background-image: url('Images/coastal2.jpg');
	background-position: top:left;
	background-size: cover;
	width: auto;
	margin-bottom:-5%;
	padding-bottom: 9%;
}

.infoOnImg {
	color: white;
	margin-left: 9%;
	margin-right:9%;
}

.infoOnImg h2 {
	font-size: 4vw;
}

.infoOnImg p {
	margin-top: 3%;
	margin-bottom: 3%;
	margin-left: 3%;
	margin-right: 3%;
	font-size: 2vw;
	padding-left: 0%;
	padding-right: 0%;
	line-height: 250%;
	text-shadow: 1px 1px black;
}

.wildInfo {
	height: 100%;
	width: auto;
}

.wildInfo h1 {
	margin-top: -3%;
	/*padding-top: 10%;*/
	text-shadow: 1px 2px black;
	color: white;
	font-size: 6vw;
	font-family: 'Montserrat', sans-serif;
}

.wildOnImg {
	background-image: url('Images/TrialImages/tent.jpeg');
	background-position: top;
	background-size: cover;
	width: auto;
	padding-top: 5%;
	padding-bottom: 5%;
	margin-bottom: -5%;
	margin-top: 3%;
}

.infoOnWildImg {
	color: white;
	margin-left: 9%;
	margin-right:9%;
}

.infoOnWildImg h2 {
	font-size: 4vw;
	color: black;
}

.infoOnWildImg p {
	margin-top: 3%;
	margin-bottom: 3%;
	margin-left: 3%;
	margin-right: 3%;
	padding-bottom: 1%;
	padding-top: 3%;
	font-size: 2vw;
	line-height: 250%;
	text-shadow: 1px 1px black;
}

.cityInfo {
	height: 100%;
	width: auto;
}


.cityInfo h1 {
	padding-top: 3%;
	text-shadow: 1px 2px black;
	color: white;
	font-size: 6vw;
	font-family: 'Montserrat', sans-serif;
}

.cityOnImg {
	background-image: url('Images/UrbanNight.jpeg');
	background-position: top:left;
	background-size: cover;
	width: auto;
	padding-bottom: 12%;
	/*margin-bottom: -5%;*/
}

.infoOnCityImg {
	color: white;
	margin-left: 9%;
	margin-right:9%;
}

.infoOnCityImg h2 {
	font-size: 4vw;
}

.infoOnCityImg p {
	margin-top: 3%;
	margin-bottom: 3%;
	margin-left: 3%;
	margin-right: 3%;
	font-size: 2vw;
	padding-left: 0%;
	padding-right: 0%;
	line-height: 250%;
	text-shadow: 1px 1px black;
}

.signUp {
	background-color: #0C5E84;
	padding-top: 1%;
	padding-bottom: 5%;
}

.signUp h1 {
	color: black;
	font-family: 'Kaushan Script', cursive;
	font-style:bold;
	font-size: 12vw;
}

.signUp h2 {
	color: black;
	font-size: 6vw;
	font-family: 'Montserrat', sans-serif;
	margin-top: -7%;
}

.signUpForm {
	margin-left: 15%;
}

.signUpForm input[type=text]{
	font-size:20px;
	width: 45%;
	padding: 6px;
	margin-bottom: 10px;
	box-sizing: border-box;
	border: 1px solid gray;
	border-radius: 8px;
	outline:none;
	box-shadow: inset 1px 1px 2px 0 #707070;
   -webkit-transition: box-shadow 0.3s;
}

.signUpForm input[type=submit] {
	/*margin-left: 15%;*/
	background-color: white;
	color: black;
	border:none;
	padding: 12px 20px;
	cursor: pointer;
	margin-top: 20px;
	font-size: 20px;
	border-radius: 4px;
}

.signUpForm input:hover[type=submit] {
	background-color: #D18D3C;
}

.signUpForm h3 {
	font-size: 25px;
	margin-bottom: -15px;
}

.contactUs {
	background-color: white;
	padding-top: 5%;
	padding-bottom:5%;
	margin-bottom: -5%;
	margin-left: 10%;
	margin-right: 10%;
}

.contactUs h1 {
	font-family: 'Montserrat', sans-serif;
	font-size: 6vw;
}

.contactUs p {
	margin-right: 20%;
	line-height: 180%;
	font-size: 2vw;
}

.messageForm input[type=text]{
	font-size:20px;
	width: 45%;
	padding: 6px;
	margin-bottom: 10px;
	box-sizing: border-box;
	border: 1px solid gray;
	border-radius: 8px;
	outline:none;
	box-shadow: inset 1px 1px 2px 0 #707070;
   -webkit-transition: box-shadow 0.3s;
}

.messageForm input[type=submit] {
	/*margin-left: 15%;*/
	background-color: white;
	color: black;
	border: 1px solid black;
	padding: 12px 20px;
	cursor: pointer;
	margin-top: 20px;
	font-size: 20px;
	border-radius: 4px;
	margin-bottom: 5%;
}

.messageForm input:hover[type=submit] {
	background-color: #0C5E84;
}

.messageForm h3 {
	font-size: 25px;
	margin-bottom: -15px;
}

.messageForm textarea {
	resize:vertical;
	font-size: 20px;
}

.footer {
	background-color: #D18D3C;
	border-bottom: none;
	padding-bottom: 3%;
}

.footer h2 {
	font-size: 17px;
	color: white;
	margin-right: 4%;
	padding-top: 2%;
}

.footer p {
	font-size: 12px;
	color: white;
	margin-right: 4%;
}

.footer a {
	font-size: 12px;
}

.footer a:link {
    color: white;
	 text-decoration: none;
	 margin-left: 4%;
}

/* visited link */
.footer a:visited {
    color: white;
	 margin-left: 4%;
}

/* mouse over link */
.footer a:hover {
    color: black;
	 margin-left: 4%;
}

/* selected link */
.footer a:active {
    color: black;
	 margin-left: 4%;
}
